@font-face {
  font-family: "Proxima Nova";
  src: url(../part6/assets/fonts/proximanova_light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../part6/assets/fonts/proxima-nova-bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../part6/assets/fonts/proxima-nova-semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../part6/assets/fonts/proximanova_regular.ttf);
  font-weight: 400;
}
